.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  font-size: 10rem;
}

button {
  font-size: 3rem;
  margin: 1rem;
  padding: 1rem;
}

.text-red {
  color: red;
}
.text-blue {
  color: blue;
}
.text-yellow {
  color: yellow;
}
.text-green {
  color: green;
}
